<% provide(:title, "Contact") %>
<main>
		<div class="MainContentandMapForContactUs">


    <div class="MapAndAddress">
		  <h1>Contact Us</h1>
			   <p> The Reflector, 10 Hanover Quay, Dublin 2, D02 R573<br>
			        Phone: +353 8474646646
			         </p>
	<!-- width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""  -->
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9527.669076614047!2d-6.245859355888221!3d53.34473712965754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e94a11dc933%3A0x7ef731935db23017!2sGrand%20Canal%20Dock%2C%20Dublin!5e0!3m2!1sen!2sie!4v1573739471112!5m2!1sen!2sie" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>


		  <div class="FormContentAndGDPR">
		<div class="form">
		<form action= "https://formspree.io/mwkkqroj"
		method="POST" class="card">
		<!--<div class="inquiry">-->
		<br>
		<h2>Type of enquiry</h2><br>
		  <form>
		     <label>
			      <h3>Client enquiries:</h3>
			         <input type="radio" name="enquiries:" />
             </label><br>
		    <label>
		        <h3>Media enquiries:</h3>
			         <input type="radio" name="enquiries:" />
		    </label>
        <label>
			       <h3>Booking enquiries:</h3>
			          <input type="radio" name="enquiries:" />
		    </label>
        <br>

        <!--This is the booking enquiry -->
        <div class="greyShadow">
		  <label>
			     <h3>NAME:</h3>
			        <input type="text" name="name" placeholder="Your name*" required>
		    </label>

		  <label>
			     <h3>EMAIL:</h3>
			        <input type="email" name="email" placeholder="Your email*"required>
		    </label>


		  <label>
			     <h3>YOUR QUERY:</h3>
			        <textarea name="query" placeholder="We'd like to here from you..."required></textarea>
            </label>
		  <label>
      </div>
		    <div class ="button">
		      <button type="submit"> GET IN TOUCH </button>
        </div>
		  </label>
	</form>
</div>
</div>