<% provide(:title, "Home") %>
<div class="container1">
<div class="What-we-do-text">
<h1>Welcome!</h1>
<%
=begin%>
 <p>Home</p> 
<%
=end%>
</div>
</div>
<section>
<div class="container1">
<div class="What-we-do-text">
<h2>What We Do</h2>
<p>We provide a platform for farmers to sell directly to customers and a way for households to 
get the freshest foods! Get your local farmers' produce at your doorstep today!</p>
</div>
</div>
</section>
<%=render 'layouts/popular'%>

